<form action = "asciify/result" method = "get">
    <h2 style="color:#050">폰트를 골라주세요</h2>
 
<input type="radio" name="input_font" value="standard"> 일반<br>
<input type="radio" name="input_font" value="big"> 크게<br>
<input type="radio" name="input_font" value="small">작게 


   <h2 style="color:#069">학과를 입력해주세요</h2>
   
    <input type = "text" name = "input_name" placeholder = "name">
    
    
    <h2 style="color:#095">학번을 입력해주세요</h2>
    <input type = "text" name = "input_tel" placeholder = "phone">
    
 
    
    <h2>제출</h2>
    <input type = "submit" value = "ASCIIFY!">
    
    
    
</form>